.container
{
	display:inline-block;
}
.left
{
	float:left;
	padding:10px;
    background-color:skyblue;
	border:3px dashed blue;
	width:47.5%;
    height: 590px;

	
}
.right
{
	float:right;
	padding:10px;
    background-color:lightgreen;
    border:3px dashed green;
    width:47.5%;
    height:590px;
}